@font-face {
   font-family: 'Shadows Into Light';
   font-style: regular;
   font-display: swap;
   font-weight: 400;
   src: url('file:///Users/reena/code/techlearningzone/fonts/Shadows Into Light/regular.ttf') format('truetype');
}
